body {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: #40514E;
}

.hey {
  margin: 0;
}

.sun {
  position: relative;
  display: inline-block;
  height: 150px;
  right: 300px;
  bottom: 100px;
}

.rh-logo {
  height: 50px;
  position: relative;
  right: 700px;
  bottom: 85px;
}

.rh2-logo {
  height: 40px;
}

p {
  line-height: 2;
}

.h2a {
  position: relative;
  bottom: 200px;
}

.top-h2 {
  font-size: 2.5rem;
}

.top-h3 {
  font-size: 2rem;
}

.span {
  text-decoration: underline;
}

.top-h1 {
  position: relative;
  font-size: 5.625rem;
  bottom: 150px;
}

a {
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.profile {
  background-color: #CEE5D0;
  position: relative;
  bottom: 100px;
}

h1 {
  margin-top: 50px;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
  padding: .625rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.mountain {
  height: 200px;
  position: relative;
  bottom: 150px;
}

.middle-container {
  margin: 100px 0;
}

.p1 {
  width: 40%;
  margin: auto;
  padding-bottom: 100px;
}

.p2 {
  width: 40%;
  margin: 40px auto 60px;
}

.hr1 {
  position: relative;
  bottom: 220px;
}

.skills {
  background-color: #EAF6F6;
  position: relative;
  bottom: 310px;
}

.hr2 {
  position: relative;
  bottom: 400px;
}

.h2-myskills {
  padding-top: 100px;
}

.myimage1 {
  width: 300px;
  padding-top: 100px;
}

.talents {
  padding-bottom: 120px;
}

.bass-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pc {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: justify;
}

.get {
  margin: 0;
  padding-top: 100px;
}

.sample1 {
  margin: 0;
  border: 0;
  padding-bottom: 1.25rem;
}

.contact-me {
  margin: 0 0 75px;
  background-color: #DFE8CC;
  position: relative;
  bottom: 410px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;
  position: relative;
  bottom: 400px
}

.copyright {
  padding: 20px 0;
  color: #EAF6F6;
  font-size: .75rem
}

a {
  color: #377D71;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
